In [3]:
## Data analysis section for the code

In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_excel("data/WorldBankData.xlsx")

In [3]:
# Rename the columns of the year

pattern = '\[YR[0-9]+\]'
for col in df.columns:
    if re.search(pattern, col) != None:
        results = re.sub(pattern,'',col)
        results = int(results)
        df = df.rename(columns={col:results})

df.columns

<>:3: SyntaxWarning: invalid escape sequence '\['
<>:3: SyntaxWarning: invalid escape sequence '\['
/tmp/ipykernel_17235/4104257547.py:3: SyntaxWarning: invalid escape sequence '\['
  pattern = '\[YR[0-9]+\]'

Index(['Country Name', 'Country Code',  'Series Name',  'Series Code',
                 2008,           2009,           2010,           2011,
                 2012,           2013,           2014,           2015,
                 2016,           2017,           2018,           2019,
                 2020,           2021,           2022],
      dtype='object')

In [4]:
# Unpivot the table and save the new df as df2 

df2 = pd.melt(df, id_vars=['Country Name', 'Country Code', 'Series Name', 'Series Code'] )

In [5]:
# rename the year column to Year

df2 = df2.rename(columns={'variable': "Year"})

In [6]:
# Save it to a JSON file for future access

df2.to_json('data/CountryData.json')

In [7]:
df2

,Country Name,Country Code,Series Name,Series Code,Year,value
0,Afghanistan,AFG,CO2 emissions (kg per 2015 US$ of GDP),EN.ATM.CO2E.KD.GD,2008,0.378523
1,Afghanistan,AFG,GDP (constant 2015 US$),NY.GDP.MKTP.KD,2008,11559778824.1227
2,Afghanistan,AFG,Urban population,SP.URB.TOTL,2008,6162823
3,Afghanistan,AFG,Rural population,SP.RUR.TOTL,2008,20264376
4,Afghanistan,AFG,Refugee population by country or territory of ...,SM.POP.REFG.OR,2008,2833116
...,...,...,...,...,...,...
16270,Zimbabwe,ZWE,CO2 emissions (kg per 2015 US$ of GDP),EN.ATM.CO2E.KD.GD,2022,..
16271,Zimbabwe,ZWE,GDP (constant 2015 US$),NY.GDP.MKTP.KD,2022,21319876649.226002
16272,Zimbabwe,ZWE,Urban population,SP.URB.TOTL,2022,5287038
16273,Zimbabwe,ZWE,Rural population,SP.RUR.TOTL,2022,11033499
16274,Zimbabwe,ZWE,Refugee population by country or territory of ...,SM.POP.REFG.OR,2022,7008