In [1]:
## Data analysis section for the code

In [2]:
import pandas as pd
import re

In [3]:
df = pd.read_excel("data/WorldBankData.xlsx")

In [4]:
# Rename the columns of the year

pattern = '\[YR[0-9]+\]'
for col in df.columns:
    if re.search(pattern, col) != None:
        results = re.sub(pattern,'',col)
        results = int(results)
        df = df.rename(columns={col:results})

df.columns

<>:3: SyntaxWarning: invalid escape sequence '\['
<>:3: SyntaxWarning: invalid escape sequence '\['
/tmp/ipykernel_19890/4104257547.py:3: SyntaxWarning: invalid escape sequence '\['
  pattern = '\[YR[0-9]+\]'

Index(['Country Name', 'Country Code',  'Series Name',  'Series Code',
                 2008,           2009,           2010,           2011,
                 2012,           2013,           2014,           2015,
                 2016,           2017,           2018,           2019,
                 2020,           2021,           2022],
      dtype='object')

In [5]:
# Unpivot the table and save the new df as df2 

df2 = pd.melt(df, id_vars=['Country Name', 'Country Code', 'Series Name', 'Series Code'] )

In [6]:
# rename the year column to Year

df2 = df2.rename(columns={'variable': "Year"})

In [7]:
df2['value'] = df2['value'].replace('..','')
df2['value'] = pd.to_numeric(df2['value'])

In [6]:
# Save it to a JSON file for future access

df2.to_json('data/CountryData.json')

In [8]:
df2.columns

Index(['Country Name', 'Country Code', 'Series Name', 'Series Code', 'Year',
       'value'],
      dtype='object')

In [16]:
df[['Series Code','Series Name']].drop_duplicates()

         Series Code                                        Series Name
0  EN.ATM.CO2E.KD.GD             CO2 emissions (kg per 2015 US$ of GDP)
1     NY.GDP.MKTP.KD                            GDP (constant 2015 US$)
2        SP.URB.TOTL                                   Urban population
3        SP.RUR.TOTL                                   Rural population
4     SM.POP.REFG.OR  Refugee population by country or territory of ...

In [13]:
for item in df2['Series Code'].unique():
    print(item, df.loc[df['Series Code'] == item]['Series Name'].unique())

EN.ATM.CO2E.KD.GD ['CO2 emissions (kg per 2015 US$ of GDP)']
NY.GDP.MKTP.KD ['GDP (constant 2015 US$)']
SP.URB.TOTL ['Urban population']
SP.RUR.TOTL ['Rural population']
SM.POP.REFG.OR ['Refugee population by country or territory of origin']