In [ ]:
## Data analysis section for the code

In [25]:
import pandas as pd

In [30]:
df = pd.read_csv("data/WorldPop.csv", index_col = "index")

In [31]:
df.columns

Index(['Unnamed: 0', 'Region/Country/Area',
       'Population, density and surface area', 'Year', 'Series', 'Value',
       'Footnotes', 'Source'],
      dtype='object')

In [32]:
df[(df['Series'] == "Population mid-year estimates (millions)") & (df['Year'] == 2010)].sort_values(by = "Value", ascending = False).head(20)

,Unnamed: 0,Region/Country/Area,"Population, density and surface area",Year,Series,Value,Footnotes,Source
index,,,,,,,,
1,0,1,"Total, all countries or areas",2010,Population mid-year estimates (millions),6985.60,NaN,"United Nations Population Division, New York, ..."
407,406,142,Asia,2010,Population mid-year estimates (millions),4221.17,NaN,"United Nations Population Division, New York, ..."
486,485,62,South-central Asia,2010,Population mid-year estimates (millions),1799.54,NaN,"United Nations Population Division, New York, ..."
544,543,34,Southern Asia,2010,Population mid-year estimates (millions),1735.92,NaN,"United Nations Population Division, New York, ..."
457,456,30,Eastern Asia,2010,Population mid-year estimates (millions),1583.27,NaN,"United Nations Population Division, New York, ..."
2094,2093,156,China,2010,Population mid-year estimates (millions),1348.19,"For statistical purposes, the data for China d...","United Nations Population Division, New York, ..."
3665,3664,356,India,2010,Population mid-year estimates (millions),1240.61,NaN,"United Nations Population Division, New York, ..."
30,29,2,Africa,2010,Population mid-year estimates (millions),1055.23,NaN,"United Nations Population Division, New York, ..."
233,232,19,Americas,2010,Population mid-year estimates (millions),935.82,Calculated by the UN Statistics Division.,"United Nations Population Division, New York, ..."
88,87,202,Sub-Saharan Africa,2010,Population mid-year estimates (millions),848.12,NaN,"United Nations Population Division, New York, ..."
7611,7610,199,LDCï¿½,2010,Population mid-year estimates (millions),843.51,NaN,"United Nations Population Division, New York, ..."
594,593,150,Europe,2010,Population mid-year estimates (millions),736.28,NaN,"United Nations Population Division, New York, ..."
515,514,35,South-eastern Asia,2010,Population mid-year estimates (millions),599.78,NaN,"United Nations Population Division, New York, ..."
291,290,419,Latin America & the Caribbean,2010,Population mid-year estimates (millions),590.55,NaN,"United Nations Population Division, New York, ..."
7590,7589,432,LLDCs,2010,Population mid-year estimates (millions),424.79,NaN,"United Nations Population Division, New York, ..."
378,377,5,South America,2010,Population mid-year estimates (millions),393.08,NaN,"United Nations Population Division, New York, ..."
262,261,21,Northern America,2010,Population mid-year estimates (millions),345.27,NaN,"United Nations Population Division, New York, ..."
117,116,14,Eastern Africa,2010,Population mid-year estimates (millions),342.74,NaN,"United Nations Population Division, New York, ..."
204,203,11,Western Africa,2010,Population mid-year estimates (millions),312.67,NaN,"United Nations Population Division, New York, ..."
7242,7241,840,United States of America,2010,Population mid-year estimates (millions),311.18,"For statistical purposes, the data for United ...","United Nations Population Division, New York, ..."

In [13]:
df.loc[(df['Series'] == "Population mid-year estimates (millions)") & (df['Year'] == 2010)]

,Unnamed: 0,index,Region/Country/Area,"Population, density and surface area",Year,Series,Value,Footnotes,Source
0,0,1,1,"Total, all countries or areas",2010,Population mid-year estimates (millions),6985.60,NaN,"United Nations Population Division, New York, ..."
29,29,30,2,Africa,2010,Population mid-year estimates (millions),1055.23,NaN,"United Nations Population Division, New York, ..."
58,58,59,15,Northern Africa,2010,Population mid-year estimates (millions),207.11,NaN,"United Nations Population Division, New York, ..."
87,87,88,202,Sub-Saharan Africa,2010,Population mid-year estimates (millions),848.12,NaN,"United Nations Population Division, New York, ..."
116,116,117,14,Eastern Africa,2010,Population mid-year estimates (millions),342.74,NaN,"United Nations Population Division, New York, ..."
...,...,...,...,...,...,...,...,...,...
7531,7531,7532,894,Zambia,2010,Population mid-year estimates (millions),13.79,NaN,"United Nations Population Division, New York, ..."
7560,7560,7561,716,Zimbabwe,2010,Population mid-year estimates (millions),12.84,NaN,"United Nations Population Division, New York, ..."
7589,7589,7590,432,LLDCs,2010,Population mid-year estimates (millions),424.79,NaN,"United Nations Population Division, New York, ..."
7610,7610,7611,199,LDCï¿½,2010,Population mid-year estimates (millions),843.51,NaN,"United Nations Population Division, New York, ..."
7631,7631,7632,722,SIDS,2010,Population mid-year estimates (millions),65.87,NaN,"United Nations Population Division, New York, ..."

In [8]:
filtered_df

,Unnamed: 0,index,Region/Country/Area,"Population, density and surface area",Year,Series,Value,Footnotes,Source
0,0,1,1,"Total, all countries or areas",2010,Population mid-year estimates (millions),6985.60,NaN,"United Nations Population Division, New York, ..."
1,1,2,1,"Total, all countries or areas",2010,Population mid-year estimates for males (milli...,3514.41,NaN,"United Nations Population Division, New York, ..."
2,2,3,1,"Total, all countries or areas",2010,Population mid-year estimates for females (mil...,3471.20,NaN,"United Nations Population Division, New York, ..."
3,3,4,1,"Total, all countries or areas",2010,Sex ratio (males per 100 females),101.20,NaN,"United Nations Population Division, New York, ..."
4,4,5,1,"Total, all countries or areas",2010,Population aged 0 to 14 years old (percentage),27.10,NaN,"United Nations Population Division, New York, ..."
...,...,...,...,...,...,...,...,...,...
7633,7633,7634,722,SIDS,2010,Population mid-year estimates for females (mil...,32.63,NaN,"United Nations Population Division, New York, ..."
7634,7634,7635,722,SIDS,2010,Sex ratio (males per 100 females),101.90,NaN,"United Nations Population Division, New York, ..."
7635,7635,7636,722,SIDS,2010,Population aged 0 to 14 years old (percentage),27.90,NaN,"United Nations Population Division, New York, ..."
7636,7636,7637,722,SIDS,2010,Population aged 60+ years old (percentage),10.10,NaN,"United Nations Population Division, New York, ..."
7637,7637,7638,722,SIDS,2010,Population density,55.20,NaN,"United Nations Population Division, New York, ..."

In [29]:
df2 = df.loc[df['Year'] == 2015]
df2.pivot(index= 'Population, density and surface area', columns = ["Series"], values = "Value")

Series,Population aged 0 to 14 years old (percentage),Population aged 60+ years old (percentage),Population density,Population mid-year estimates (millions),Population mid-year estimates for females (millions),Population mid-year estimates for males (millions),Sex ratio (males per 100 females)
"Population, density and surface area",,,,,,,
Afghanistan,45.8,3.8,52.0,33.75,16.68,17.07,102.3
Africa,41.3,5.2,40.6,1201.11,601.81,599.30,99.6
Albania,18.2,19.0,105.2,2.88,1.44,1.45,100.6
Algeria,29.0,8.1,16.6,39.54,19.39,20.15,103.9
American Samoa,31.5,8.3,256.8,0.05,0.03,0.03,100.4
...,...,...,...,...,...,...,...
Western Europe,15.5,25.8,176.0,191.74,97.80,93.94,96.0
Western Sahara,26.0,7.5,1.8,0.49,0.22,0.27,122.8
Yemen,41.7,4.1,54.0,28.52,14.08,14.44,102.6
Zambia,45.5,2.7,21.9,16.25,8.25,8.00,97.0
Zimbabwe,42.9,4.9,36.6,14.15,7.50,6.65,88.7

In [13]:
for item in df['Region/Country/Area'].unique():
    print(f"{item}: {df.loc[df['Region/Country/Area'] == item]['Population, density and surface area'].unique()}")

1: ['Total, all countries or areas']
2: ['Africa']
15: ['Northern Africa']
202: ['Sub-Saharan Africa']
14: ['Eastern Africa']
17: ['Middle Africa']
18: ['Southern Africa']
11: ['Western Africa']
19: ['Americas']
21: ['Northern America']
419: ['Latin America & the Caribbean']
29: ['Caribbean']
13: ['Central America']
5: ['South America']
142: ['Asia']
143: ['Central Asia']
30: ['Eastern Asia']
62: ['South-central Asia']
35: ['South-eastern Asia']
34: ['Southern Asia']
145: ['Western Asia']
150: ['Europe']
151: ['Eastern Europe']
154: ['Northern Europe']
39: ['Southern Europe']
155: ['Western Europe']
9: ['Oceania']
53: ['Australia and New Zealand']
54: ['Melanesia']
57: ['Micronesia']
61: ['Polynesia']
4: ['Afghanistan']
8: ['Albania']
12: ['Algeria']
16: ['American Samoa']
20: ['Andorra']
24: ['Angola']
660: ['Anguilla']
28: ['Antigua and Barbuda']
32: ['Argentina']
51: ['Armenia']
533: ['Aruba']
36: ['Australia']
40: ['Austria']
31: ['Azerbaijan']
44: ['Bahamas']
48: ['Bahrain']
50: ['Bangladesh']
52: ['Barbados']
112: ['Belarus']
56: ['Belgium']
84: ['Belize']
204: ['Benin']
60: ['Bermuda']
64: ['Bhutan']
68: ['Bolivia (Plurin. State of)']
535: ['Bonaire, St. Eustatius & Saba']
70: ['Bosnia and Herzegovina']
72: ['Botswana']
76: ['Brazil']
92: ['British Virgin Islands']
96: ['Brunei Darussalam']
100: ['Bulgaria']
854: ['Burkina Faso']
108: ['Burundi']
132: ['Cabo Verde']
116: ['Cambodia']
120: ['Cameroon']
124: ['Canada']
136: ['Cayman Islands']
140: ['Central African Republic']
148: ['Chad']
152: ['Chile']
156: ['China']
344: ['China, Hong Kong SAR']
446: ['China, Macao SAR']
170: ['Colombia']
174: ['Comoros']
178: ['Congo']
184: ['Cook Islands']
188: ['Costa Rica']
384: ['Cï¿½te dï¿½Ivoire']
191: ['Croatia']
192: ['Cuba']
531: ['Curaï¿½ao']
196: ['Cyprus']
203: ['Czechia']
408: ["Dem. People's Rep. Korea"]
180: ['Dem. Rep. of the Congo']
208: ['Denmark']
262: ['Djibouti']
212: ['Dominica']
214: ['Dominican Republic']
218: ['Ecuador']
818: ['Egypt']
222: ['El Salvador']
226: ['Equatorial Guinea']
232: ['Eritrea']
233: ['Estonia']
748: ['Eswatini']
231: ['Ethiopia']
238: ['Falkland Islands (Malvinas)']
234: ['Faroe Islands']
242: ['Fiji']
246: ['Finland']
250: ['France']
254: ['French Guiana']
258: ['French Polynesia']
266: ['Gabon']
270: ['Gambia']
268: ['Georgia']
276: ['Germany']
288: ['Ghana']
292: ['Gibraltar']
300: ['Greece']
304: ['Greenland']
308: ['Grenada']
312: ['Guadeloupe']
316: ['Guam']
320: ['Guatemala']
324: ['Guinea']
624: ['Guinea-Bissau']
328: ['Guyana']
332: ['Haiti']
336: ['Holy See']
340: ['Honduras']
348: ['Hungary']
352: ['Iceland']
356: ['India']
360: ['Indonesia']
364: ['Iran (Islamic Republic of)']
368: ['Iraq']
372: ['Ireland']
833: ['Isle of Man']
376: ['Israel']
380: ['Italy']
388: ['Jamaica']
392: ['Japan']
400: ['Jordan']
398: ['Kazakhstan']
404: ['Kenya']
296: ['Kiribati']
414: ['Kuwait']
417: ['Kyrgyzstan']
418: ["Lao People's Dem. Rep."]
428: ['Latvia']
422: ['Lebanon']
426: ['Lesotho']
430: ['Liberia']
434: ['Libya']
438: ['Liechtenstein']
440: ['Lithuania']
442: ['Luxembourg']
450: ['Madagascar']
454: ['Malawi']
458: ['Malaysia']
462: ['Maldives']
466: ['Mali']
470: ['Malta']
584: ['Marshall Islands']
474: ['Martinique']
478: ['Mauritania']
480: ['Mauritius']
175: ['Mayotte']
484: ['Mexico']
583: ['Micronesia (Fed. States of)']
492: ['Monaco']
496: ['Mongolia']
499: ['Montenegro']
500: ['Montserrat']
504: ['Morocco']
508: ['Mozambique']
104: ['Myanmar']
516: ['Namibia']
520: ['Nauru']
524: ['Nepal']
528: ['Netherlands (Kingdom of the)']
540: ['New Caledonia']
554: ['New Zealand']
558: ['Nicaragua']
562: ['Niger']
566: ['Nigeria']
570: ['Niue']
807: ['North Macedonia']
580: ['Northern Mariana Islands']
578: ['Norway']
512: ['Oman']
158: ['Other non-specified areas']
586: ['Pakistan']
585: ['Palau']
591: ['Panama']
598: ['Papua New Guinea']
600: ['Paraguay']
604: ['Peru']
608: ['Philippines']
616: ['Poland']
620: ['Portugal']
630: ['Puerto Rico']
634: ['Qatar']
410: ['Republic of Korea']
498: ['Republic of Moldova']
638: ['Rï¿½union']
642: ['Romania']
643: ['Russian Federation']
646: ['Rwanda']
652: ['Saint Barthï¿½lemy']
654: ['Saint Helena']
659: ['Saint Kitts and Nevis']
662: ['Saint Lucia']
663: ['Saint Martin (French part)']
666: ['Saint Pierre and Miquelon']
670: ['Saint Vincent & Grenadines']
882: ['Samoa']
674: ['San Marino']
678: ['Sao Tome and Principe']
682: ['Saudi Arabia']
686: ['Senegal']
688: ['Serbia']
690: ['Seychelles']
694: ['Sierra Leone']
702: ['Singapore']
534: ['Sint Maarten (Dutch part)']
703: ['Slovakia']
705: ['Slovenia']
90: ['Solomon Islands']
706: ['Somalia']
710: ['South Africa']
728: ['South Sudan']
724: ['Spain']
144: ['Sri Lanka']
275: ['State of Palestine']
729: ['Sudan']
740: ['Suriname']
752: ['Sweden']
756: ['Switzerland']
760: ['Syrian Arab Republic']
762: ['Tajikistan']
764: ['Thailand']
626: ['Timor-Leste']
768: ['Togo']
772: ['Tokelau']
776: ['Tonga']
780: ['Trinidad and Tobago']
788: ['Tunisia']
792: ['Tï¿½rkiye']
795: ['Turkmenistan']
796: ['Turks and Caicos Islands']
798: ['Tuvalu']
800: ['Uganda']
804: ['Ukraine']
784: ['United Arab Emirates']
826: ['United Kingdom']
834: ['United Rep. of Tanzania']
840: ['United States of America']
850: ['United States Virgin Islands']
858: ['Uruguay']
860: ['Uzbekistan']
548: ['Vanuatu']
862: ['Venezuela (Boliv. Rep. of)']
704: ['Viet Nam']
876: ['Wallis and Futuna Islands']
732: ['Western Sahara']
887: ['Yemen']
894: ['Zambia']
716: ['Zimbabwe']
432: ['LLDCs']
199: ['LDCï¿½']
722: ['SIDS']

In [9]:
df.loc[df['Region/Country/Area'] == 2]['Population, density and surface area']

29    Africa
30    Africa
31    Africa
32    Africa
33    Africa
34    Africa
35    Africa
36    Africa
37    Africa
38    Africa
39    Africa
40    Africa
41    Africa
42    Africa
43    Africa
44    Africa
45    Africa
46    Africa
47    Africa
48    Africa
49    Africa
50    Africa
51    Africa
52    Africa
53    Africa
54    Africa
55    Africa
56    Africa
57    Africa
Name: Population, density and surface area, dtype: object